<web-app>
    <servlet>
      <servlet-name>wsSnake</servlet-name>
      <servlet-class>websocket.snake.SnakeWebSocketServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>wsSnake</servlet-name>
      <url-pattern>/websocket/snake</url-pattern>
    </servlet-mapping>

</web-app>
